# Environment Variables Template
# Copy these values to a new file named .env.local

GOOGLE_SHEET_ID=1e-ontpHhCbPUz9e2dw0l0lF4OfGX71vqOxsc6G9q814
GOOGLE_SERVICE_ACCOUNT_EMAIL=olindelivery-sheets@olindelivery-481922.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
